# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://[your db url]"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://[your direct url]"

# JWT secret for Supabase
SUPABASE_JWT_SECRET="your jwt secret"